.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
output/sequences
output/EISA
output/DET-list.Rda
data/fastq
data/fastqc
data/genewalk/
tmp
data/genewalk/resources/goa_human.gaf
output/DET-list.Rda
*.Rda
output/
